In [1]:
import pandas as pd

In [2]:
df = pd.read_json('quiz_dataset_extended-1.json')

In [5]:
df[df.question.str.contains("What is the value of 2³ × 3²?")]

,topic,question,choices,correct_answer,score
45,Math,What is the value of 2³ × 3²?,"[72, 48, 24, 18]",72,10

In [6]:
questions = [df.iloc[i] for i in range(0,10)]

In [7]:
print(questions)

[topic                                                       History
question          Who was the first President of the United States?
choices           [George Washington, Thomas Jefferson, Abraham ...
correct_answer                                    George Washington
score                                                            10
Name: 0, dtype: object, topic                                      History
question          Which year did World War II end?
choices                   [1943, 1944, 1945, 1946]
correct_answer                                1945
score                                           10
Name: 1, dtype: object, topic                                                       History
question                                    Who discovered America?
choices           [Christopher Columbus, Vasco da Gama, James Co...
correct_answer                                 Christopher Columbus
score                                                            10
Name: 2, dtype: object, topic                                                       History
question          What was the name of the ship that carried the...
choices               [Mayflower, Santa Maria, Endeavour, Victoria]
correct_answer                                            Mayflower
score                                                            10
Name: 3, dtype: object, topic                                                    History
question          Which ancient civilization built the pyramids?
choices                   [Greek, Roman, Egyptian, Mesopotamian]
correct_answer                                          Egyptian
score                                                         10
Name: 4, dtype: object, topic                                                       History
question                         Who wrote the Communist Manifesto?
choices           [Karl Marx, Vladimir Lenin, Friedrich Engels, ...
correct_answer                                            Karl Marx
score                                                            10
Name: 5, dtype: object, topic                                          History
question          What was the first dynasty of China?
choices                      [Ming, Tang, Shang, Zhou]
correct_answer                                   Shang
score                                               10
Name: 6, dtype: object, topic                                                       History
question                            Who was known as the Iron Lady?
choices           [Margaret Thatcher, Angela Merkel, Golda Meir,...
correct_answer                                    Margaret Thatcher
score                                                            10
Name: 7, dtype: object, topic                                                       History
question          Which war was fought between the North and Sou...
choices           [World War I, American Civil War, Revolutionar...
correct_answer                                   American Civil War
score                                                            10
Name: 8, dtype: object, topic                                         History
question          What year did the Berlin Wall fall?
choices                      [1987, 1989, 1991, 1993]
correct_answer                                   1989
score                                              10
Name: 9, dtype: object]

In [24]:
questions[4]["choices"]

['Greek', 'Roman', 'Egyptian', 'Mesopotamian']

In [5]:
!pip install mpmath

Defaulting to user installation because normal site-packages is not writeable
Collecting mpmath
  Using cached mpmath-1.3.0-py3-none-any.whl.metadata (8.6 kB)
Using cached mpmath-1.3.0-py3-none-any.whl (536 kB)
Installing collected packages: mpmath
Successfully installed mpmath-1.3.0

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [7]:
from mpmath import mp

# Set precision to 101 digits (1 extra for the leading "3")
mp.dps = 105
pi_str = str(mp.pi)

# Show the first 100 digits (including the "3" before the decimal)
first_100_digits_of_pi = pi_str[:105]  # 1 digit before decimal + 100 digits after

first_100_digits_of_pi

'3.1415926535897932384626433832795028841971693993751058209749445923078164062862089986280348253421170679821'